body {
    padding: 5% 10%;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ul attributes are start reversed mostly used
li attribute is value commonly used */

ol {
    list-style-type: lower-alpha;
    padding: 0;
}

ul{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: blue;
    line-height: 1.6;
    /* list-style-image: url('..'); */
    /* short hand */
    /* list-style: type image position; */
}

ol li:nth-child(even) {
    color: red;
}
/* marker is the psuedo element which can change the list -style type color content */
ul ::marker {
    color: black;
    font-family: fantasy;
    font-size: 1em;
    content: "only $5 >> ";
}